@if (userHeader) {
  <div class="chat-container">
    <div class="chat-header">
      <div class="relative">
        <!--avatar-->
        <div class="w-12 h-12 rounded-full ring-2 ring-gray-200/30">
          <img
            *ngIf="userHeader.avatar"
            [src]="userHeader.avatar"
            alt="avatar"
            class="w-full h-full rounded-full object-cover"
          />
          <div
            *ngIf="!userHeader.avatar"
            class="w-full h-full rounded-full bg-blue-100 flex items-center justify-center"
          >
            <span class="text-blue-600 font-semibold text-sm">{{
              getInitials(userHeader.userName)
            }}</span>
          </div>
        </div>
        <!--señal de estado-->
        <div
          [ngClass]="
            userHeader.isActive()
              ? 'absolute bottom-0 right-0 w-2.5 h-2.5 bg-green-500 rounded-full ring-2 ring-white'
              : 'absolute bottom-0 right-0 w-2.5 h-2.5 bg-gray-400 rounded-full ring-2 ring-white'
          "
        ></div>
      </div>
      <div class="user-info">
        <h2 class="text-lg font-semibold text-gray-900">
          {{ userHeader.userName }}
        </h2>
        <div>
          <p class="status">
            {{ userHeader.isActive() ? 'En línea' : 'Desconectado' }}
          </p>
        </div>
      </div>
    </div>
  </div>
}
