@if (userHeader) {
  <div class="chat-container">
    <div class="chat-header">
      <div class="relative">
        <!--avatar-->
        <img
          [src]="userHeader.avatar"
          alt="avatar"
          class="w-10 h-10 rounded-full object-cover ring-2 ring-white"
        />
        <!--señal de estado-->
        <div
          [ngClass]="
            userHeader.isActive()
              ? 'absolute bottom-0 right-0 w-2.5 h-2.5 bg-green-500 rounded-full ring-2 ring-white'
              : 'absolute bottom-0 right-0 w-2.5 h-2.5 bg-gray-400 rounded-full ring-2 ring-white'
          "
        ></div>
      </div>
      <div class="user-info">
        <h2 class="text-lg font-semibold text-gray-900">
          {{ userHeader.userName }}
        </h2>
        <div>
          <p class="status">
            {{ userHeader.isActive() ? 'En línea' : 'Desconectado' }}
          </p>
        </div>
      </div>
    </div>
  </div>
}
