<div>
  @if (hasSelectedContact) {
    <div class="chat-input">
      <form class="w-full flex" (ngSubmit)="sendMessage()">
        <input
          type="text"
          [(ngModel)]="newMessage"
          (keyup)="onTyping()"
          name="message"
          class="text"
          placeholder="Escribe un mensaje..."
        />

        <button
          type="submit"
          [disabled]="!newMessage.trim()"
          [ngClass]="newMessage.trim() ? 'button' : 'button-disable '"
        >
          ➤
        </button>
      </form>
    </div>
  }
</div>
