<aside class="sidebar">
  <!-- Header -->
  <div class="sidebar-header">
    <h1 class="title">Mensajes</h1>
    <div class="search-container">
      <input type="text" [(ngModel)]="searchQuery" class="search-input" placeholder="Buscar..." />
      <svg class="search-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
    </div>
  </div>

  <!-- Contacts List -->
  <div class="contacts-list">
    <div [@loadingState]="isLoading">
      <!--un solo contenedor con la animación -->
      @if (isLoading) {
        @for (item of [1, 2, 3, 4, 5]; track item) {
          <div class="contact-item skeleton">
            <div class="avatar-container">
              <div class="avatar-skeleton"></div>
            </div>
            <div class="contact-info">
              <div class="name-skeleton"></div>
              <div class="role-skeleton"></div>
            </div>
          </div>
        }
      } @else {
        @for (contact of filteredContacts; track contact.userId) {
          <div
            class="contact-item"
            [class.selected]="contact.isSelected()"
            (click)="onContactClick(contact)"
            @fadeSlide
          >
            <div class="avatar-container">
              @if (contact.avatar) {
                <img [src]="contact.avatar" [alt]="contact.userName" class="avatar" />
              } @else {
                <div class="avatar-initials">{{ getInitials(contact.userName) }}</div>
              }
              <div class="status-indicator" [class.active]="contact.isActive()"></div>
            </div>

            <div class="contact-info">
              <h3 class="contact-name">{{ contact.userName }}</h3>
              <p class="contact-role">{{ contact.role }}</p>
              <p class="last-active">
                Último acceso: {{ contact?.lastActive | date: 'shortTime' }}
              </p>
            </div>
          </div>
        }
      }
    </div>
  </div>
</aside>
