.list-container {
  padding: 20px;
  background: #fff;
}

 

.dentist-table {
  width: 100%;
}

th.mat-header-cell {
  background:rgb(129, 43, 43);
  color:rgb(138, 138, 206);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1;
}
